#outer{
    height: 300px;
    width: 80%;
    background: skyblue;
    display: flex;    
    margin: 10px auto;
    flex-direction: row;
    /* flex-direction: column-reverse; */
/* flex-direction: row-reverse; */
/* flex-direction: column; */
justify-content: flex-start;
/* justify-content: space-between; */
/* justify-content: space-around; */
/* justify-content: space-evenly; */
/* flex-wrap: nowrap; */
/* flex-wrap: wrap; */
flex-wrap: wrap-reverse;
}
.left{
    width: 300px;
    height: 100px;
    background: red;
    text-align: center;
    color: white;
}
.mid{
    width: 300px;
    height: 100px;
    background: blue;
    text-align: center;
    color: white;
    
}
.right{
    width: 300px;
    height: 100px;
    background: green;
    text-align: center;
    color: white; 
}