h1{
    color: orange;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
}
p{
    
    color: red;
    margin: 10px;
    text-align: center;
    
}
button{
    background-color: blue;
    color: white;
    margin-left: 150px;
    
}
h2{
    /* color: rgb(120, 0, 120); */
    color: #ff00ff;
    margin: 10px; 
    text-align: center;
}
*{
    padding: 0;
    margin: 0;
}
#a{
    height: 200px;
    width: 400px;
    margin: auto;
    background-color: black;
    
   

}