
        h1{
            color: white;
            text-align: center;
            background-color: black;
            font-size: 30px;
            font-family: 'Times New Roman';

        }
       p{
        color: blue;
        background-color: pink;

        }
        button{
            background-color: blue;
            gap: 3em;
            color: white;
            font-weight: bold;
        }