h1{
    text-align: center;
    /* border: solid; */
    width: 100%;
    /* text-decoration: underline; */
    text-decoration: red underline;
}
h3{
    /* text-decoration: overline; */
    /* text-decoration:blue overline dashed; */
    letter-spacing: 10px;
    font-size: 40px;
    font-family: impact;
}
p{
    text-align: justify;
    /* line-height: normal; */
    /* line-height: 2.5; */
    /* text-decoration: line-through; */
    /* letter-spacing: normal; */
    /* letter-spacing: 3px; */
    font-size: 30px;
    /* font-family: fantasy; */
    font-family: Arial, Helvetica, sans-serif;
}