.canvas{
    margin: auto 100px;
}
.button{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
   
}
#grey{
  
    background: gray;

}
#yellow{
    
    background: yellow;

}
#blue{
    background-color: blue;
}
#white{
    background-color: #fff;
}